rootfs-base/
rootfs-alpha/
rootfs-beta/
rootfs-probe/
rootfs-gamma/
rootfs-run*/
rootfs-log*/
rootfs-final/
logs/
boilerplate/engine
boilerplate/*.o
boilerplate/monitor.ko
boilerplate/*.mod
boilerplate/*.mod.c
boilerplate/Module.symvers
boilerplate/modules.order
boilerplate/.tmp_versions/
alpine-minirootfs-*.tar.gz
